<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<header id="header">
		<div class="container">
			<a href="index.html" id="logo" title="HarrisonHighSchool">HarrisonHighSchool</a>
			<div class="menu-trigger"></div>
			<nav id="menu">
				<ul>
					<li><a href="events.html">Courses</a></li>
					<li><a href="events.html">Events</a></li>
					<li><a href="gallery.html">Gallery</a></li>
 				</ul>
				<ul>
					<li><a href="gallery.html">Students</a></li>
					<li><a href="gallery.html">Teachers</a></li>
					<li><a href="#fancy" class="get-contact">Contact</a></li>
   				</ul>
			</nav>
			<!-- / navigation -->
		</div>
		<!-- / container -->
	
	</header>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>