<br><br><br><br><br>
<center>
<form action="/tutor/uploadfile" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="myFile" /> <br>
   <input type="submit" value="Upload a file"/>
</form>
</center>