<div style="margin-top: 100px;margin-bottom:100px" > <center> <a href="/student/student-login"> Hi ,Student!!</a></center></div>
<style>
    center{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
</style>