<body class="light-gray-bg">
  <div class="templatemo-content-widget templatemo-login-widget white-bg">
    <header class="text-center">
      <div class="square"></div>
      <h1>STUDENT LOGIN</h1>
    </header>
    <form action="/student/student-home" class="templatemo-login-form" method="POST">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
          <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="templatemo-blue-button width-100">Login</button>
      </div>
    </form>
  </div>
  <div class="templatemo-content-widget templatemo-login-widget templatemo-register-widget white-bg"
    style="margin-bottom: 20px;">
    <center>
      <p>Don't know your Login Info ? Contact your tutor for username and password<br>else try <strong><a href="/student/student-signup" class="blue-text">OTP Login Here</a></strong>
      </p>
    </center>
  </div>
  <style>
    form {
      margin-left: 30%;
      margin-right: 30%;
    }

    h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      font-size: 38px;
      margin-top: 20px;
    }

    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 10px;
    }

    button {
      background-color: #008bc4;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 10px;
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    button:hover {
      opacity: 0.8;
    }

    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }

    img.avatar {
      width: 40%;
      border-radius: 50%;
    }

    .container {
      padding: 16px;
    }
  </style>